body{
    background: rgb(163,159,222);
background: linear-gradient(90deg, rgba(163,159,222,1) 0%, rgba(9,79,121,0.5382528011204482) 38%, rgba(0,212,255,1) 100%);
}

.custom_input{
    margin: 1rem;
}